{% extends "layout.html" %}
{% block body %}

       <!-- Page Header-->
<header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/img.png') }}')"
        xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Admin panel </h1>
                            <span class="subheading">Manage your post and change them</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <h1> Basic Actions</h1>

                    <a href="/edit/0"> <button class="btn btn-primary "> ADD A NEW POST</button></a>
                    <a href="/logout"> <button class="btn btn-primary "> LOGOUT</button></a>


                    <hr>
                    <h1> Uploader a File</h1>
                    <form action="/uploader" method="post" enctype="multipart/form-data">
                        <input type="file" name="file1">
                        <button class="btn btn-primary "> SUBMIT</button>
                    </form>
                    <hr>

                    <h1>  Edit post </h1>
                    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sno</th>
        <th>Title</th>
        <th>Date</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
    {% for post in posts %}

      <tr>
        <td>{{post.sno}}</td>
        <td>{{post.title}}</td>
        <td>{{post.date}}</td>

          <th> <a href="/edit/{{post.sno}}"> <button class="btn btn-primary"> Edit</button></a></th>
          <th> <a href="/delete/{{post.sno}}"> <button class="btn btn-primary "> Delete</button></a></th></a>
      </tr>
    {% endfor %}
    </tbody>
  </table>
                </div>
            </div>
        </div>
                    {% endblock %}
